week-1-basics-and-setup/docker-sql/yellow_tripdata_2025-01.parquet
week-1-basics-and-setup/docker-sql/.ipynb_checkpoints
week-1-basics-and-setup/docker-sql/env
week-1-basics-and-setup/docker-sql/ny_taxi_postgres_data